/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

/* NAV SECTION */

nav {
  display: flex;
  flex-wrap: flex-start;

  margin: 1rem;
}
header {
  margin-left: -1rem;
  padding-bottom: 1rem;
}

header nav a {
  margin: 20px 15px 0 40px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.logo {
}

/* NAV SECTION */

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  
  
  font-family: "Roboto", sans-serif; 
}

.container{
    width: 1000px;
    margin:0 auto ;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.image {
    width: 50rem;
}



h2 {
font-size: 20px;
font-weight: bold;
} 

.mini-box {
    height: 30%;
}



.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
     
}

.aboutwrapper {
    margin: 52px 0 0 0;
    width: 45%;
    border-bottom: 2px dotted

}

.aboutwrapper p{
line-height: 20px;
margin-bottom: 2rem;
margin-top: 2rem;
}

.aboutwrapper button  {
    padding: 10px;
    width: 125px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 2px solid;
    font-size: 15px;
    font-weight: 700;
}

.aboutwrapper h2{
    padding-top: 1rem;
}

.last-content{
    
    padding-bottom: 4rem;
}
.work {
    padding-top: 4rem;
}


footer {
  width: 100%;
  background: black;
  height: 80px;
}


footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
  margin-top: 2rem;

}

footer nav a {
  color: white;
  text-decoration: none;
}
